<!-- list Categores -->
@model List<ApplicationUser>
<table class="table table-borderd table-hover border-collapse ">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Adress</th>
        <th>IsActive</th>
        <th>Pass</th>
        <th>PhoneNumber</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.UserName</td>
            <td>@item.Address</td>
            <td>@item.IsActive</td>
            <td>@item.PasswordHash</td>
            <td>@item.PhoneNumber</td>
        </tr>

    }

</table>
